<!doctype html>
<title>Grid</title>
  {{ imgfilelist }}
<script>
    function load() {
        init( {{ a }}, {{ b }} );
    }
    var cellwidth = 50;
    var colcount = 6;
    var rowcount = 3;
    window.addEventListener( "keydown", doKeyDown, false );
    window.onload = load;    
    window.onresize = load;

    function init(a, b) {
        cellwidth = window.innerWidth / colcount;
        cellwidth = Math.floor(cellwidth) - 12;
        for (i = a; i < b; i++) {
            j = i + 1
            styleval = "float:left;vertical-align:middle;text-align:center;padding:3px;width:" + 
                cellwidth.toString() + "px;height:" + cellwidth.toString() + "px;";
            monoimg = document.getElementById("monoimg" + j.toString());
            monodiv = document.getElementById("monodiv" + j.toString());
            monodiv.style = styleval;
            imgAspectRatio = monoimg.width / monoimg.height;
            if (imgAspectRatio < 1.0) {
                monoimg.height = cellwidth;
                monoimg.width = monoimg.height * imgAspectRatio;
            }
            else {
                monoimg.width = cellwidth;
                monoimg.height = monoimg.width / imgAspectRatio;
            }
        }
    }
    function doKeyDown(e){
        //alert("keyCode: ["+e.keyCode+"]");

        if (e.keyCode == 37) {    // left arrow
            window.location = "/grid/-1";
        }
        else if (e.keyCode == 39) {    // right arrow
            window.location = "/grid/-2";
        }
        else if (e.keyCode == 38) {    // up arrow
            window.location = "/ogrid/";
        }
        else if (e.keyCode == 40) {    // down arrow
            window.location = "/igrid/";
        }
        else if (e.keyCode == 13) {    // Enter
            window.location = "/bytro/-3";
        }
    }  
</script>
  
