<!doctype html>
<title>Folder</title>
  {{ udirlist }}

<script>
    //alert("top of foldr.html");
    window.addEventListener( "keydown", doKeyDown, false );
    //alert("btm of foldr.html");
    
    function doKeyDown(e){
        //alert("keyCode: ["+e.keyCode+"]");
        if (e.keyCode == 39) {    // right arrow
            window.location = "/foldr/-11";
        }
        else if (e.keyCode == 37) {    // left arrow
            window.location = "/foldr/-12";
        }
        else if (e.keyCode == 38) {    // up arrow
            window.location = "/foldr/0";
        }
        else if (e.keyCode == 13) {    // Enter
            window.location = "/foldr/-1";
        }
    }  
</script>
  
